<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin" [fullScreen]="true">
    <p style="color: white; font-size: 20px;"> Loading... </p>
</ngx-spinner>

<div class="row card-padding">
    <div class="col-md-12 tableColumnClass">
        <app-card [hidHeader]="true" [options]="false">
            <h5 class="mt-2">Sources <span *ngIf="filteredValuesLength > 0"> - {{filteredValuesLength}} </span></h5>
            <div class="primgrTableTop fit-table">
                <form novalidate role="form" [formGroup]="sourceListPageForm">
                    <p-table #sourcesPageTable [columns]="cols" [value]="parentSourcesListResponse" [responsive]="true"
                        dataKey="sourceId" styleClass="ui-table-primedatatable"
                        [globalFilterFields]="['stateAbbreviation','sourceName','owner','updateFrequency','fileType','sourcetype','lastRecivedDate','hasPhoto','status']"
                        (onFilter)="onFilter($event, sourcesPageTable)"
                        (sortFunction)="customSortForParentTable($event)" [customSort]="true">
                        <!-- Top bar -->
                        <ng-template pTemplate="caption" let-columns="cols">
                            <div class="ui-helper-clearfix" style="text-align: left">
                                <!-- globle search -->
                                <button type="button" class="btn btn-success btn-sm" style="margin-right: 0.5em;"
                                    (click)="sourcesPageTable.exportCSV()" ngbTooltip="Export To CSV"
                                    [placement]="'bottom'">
                                    <i class="feather icon-file"></i>&nbsp;Export To CSV
                                </button>
                                <!-- globle search -->
                                <input pInputText type="text" style="float:right;width:auto;" size="50"
                                    (input)="sourcesPageTable.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Search" />
                            </div>
                        </ng-template>
                        <!-- Table Header -->
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width: 2em;"></th>
                                <th style="width: 3em;"></th>
                                <th pSortableColumn="stateAbbreviation" style="width: 7em;">State
                                    <p-sortIcon field="stateAbbreviation"></p-sortIcon>
                                </th>
                                <th pSortableColumn="sourceName" style="width: 10em;">Source name
                                    <p-sortIcon field="sourceName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="owner" style="width: 10em;">Owner
                                    <p-sortIcon field="owner"></p-sortIcon>
                                </th>
                                <th pSortableColumn="updateFrequency" style="width: 11em;">Frequency
                                    <p-sortIcon field="updateFrequency"></p-sortIcon>
                                </th>
                                <th pSortableColumn="fileType" style="width: 9em;">File type
                                    <p-sortIcon field="fileType"></p-sortIcon>
                                </th>
                                <th pSortableColumn="sourcetype" style="width: 10em;">Source type
                                    <p-sortIcon field="sourcetype"></p-sortIcon>
                                </th>
                                <th pSortableColumn="lastRecivedDate" style="width: 11em;">Last received
                                    <p-sortIcon field="lastRecivedDate"></p-sortIcon>
                                </th>
                                <th pSortableColumn="hasPhoto" style="width: 10em;">Has photos?
                                    <p-sortIcon field="hasPhoto"></p-sortIcon>
                                </th>
                                <th pSortableColumn="status" style="width: 9em;">Status
                                    <p-sortIcon field="status"></p-sortIcon>
                                </th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>
                                    <p-dropdown [options]="stateNames" [style]="{'width':'100%','min-width':'100%'}"
                                        (onChange)="sourcesPageTable.filter($event.value, 'stateAbbreviation', 'equals')"
                                        placeholder="State" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            {{option.label}}
                                        </ng-template>
                                    </p-dropdown>
                                </th>
                                <th><input type="text" pInputText class="form-control" placeholder="Source name"
                                        style="width: 100%;"
                                        (input)="sourcesPageTable.filter($event.target.value, 'sourceName', 'startsWith')" />
                                </th>
                                <th>
                                    <p-dropdown [options]="ownerNames" [style]="{'width':'100%','min-width':'100%'}"
                                        (onChange)="sourcesPageTable.filter($event.value, 'owner', 'equals')"
                                        placeholder="Owner" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            {{option.label}}
                                        </ng-template>
                                    </p-dropdown>
                                </th>
                                <th>
                                    <p-dropdown [options]="updateFrequencys"
                                        [style]="{'width':'100%','min-width':'100%'}"
                                        (onChange)="sourcesPageTable.filter($event.value, 'updateFrequency', 'equals')"
                                        placeholder="Frequency" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            {{option.label}}
                                        </ng-template>
                                    </p-dropdown>
                                </th>
                                <th>
                                    <p-dropdown [options]="fileTypes" [style]="{'width':'100%','min-width':'100%'}"
                                        (onChange)="sourcesPageTable.filter($event.value, 'fileType', 'equals')"
                                        placeholder="File type" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            {{option.label}}
                                        </ng-template>
                                    </p-dropdown>
                                </th>
                                <th>
                                    <p-dropdown [options]="sourceTypes" [style]="{'width':'100%','min-width':'100%'}"
                                        (onChange)="sourcesPageTable.filter($event.value, 'sourcetype', 'equals')"
                                        placeholder="Source type" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            {{option.label}}
                                        </ng-template>
                                    </p-dropdown>
                                </th>
                                <th><input type="text" pInputText placeholder="Last received" style="width: 100%;"
                                        (input)="sourcesPageTable.filter($event.target.value, 'lastRecivedDate', 'startsWith')" />
                                </th>
                                <th>
                                    <p-dropdown [options]="HasPhotos" [style]="{'width':'100%','min-width':'100%'}"
                                        (onChange)="sourcesPageTable.filter($event.value, 'hasPhoto', 'equals')"
                                        placeholder="Has photos" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            {{option.label}}
                                        </ng-template>
                                    </p-dropdown>
                                </th>
                                <th>
                                    <p-dropdown [options]="statusData" [style]="{'width':'100%','min-width':'100%'}"
                                        formControlName="selectedStatus" [(ngModel)]="this.sourceListPageForm.controls['selectedStatus'].value ? this.sourceListPageForm.controls['selectedStatus'].value
                                            : selectedstatusData.value" placeholder="Status" (ngModelChange)="sourcesPageTable.filter(this.sourceListPageForm.controls['selectedStatus'].value ? this.sourceListPageForm.controls['selectedStatus'].value
                                            : selectedstatusData.value, 'status', 'equals')">
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'datatable-badge status-' + option.value">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </th>
                            </tr>
                        </ng-template>
                        <!-- Table row -->
                        <ng-template pTemplate="body" let-sources let-rowIndex="rowIndex" let-expanded="expanded"
                            let-columns="columns">
                            <tr>
                                <td style="width: 2em;">
                                    <a href="#" [pRowToggler]="sources"
                                        (click)="getChildSourceData($event, sources.sourceId, rowIndex)">
                                        <i
                                            [ngClass]="expanded ? (checkIndex === rowIndex ? 'pi pi-chevron-down' : 'pi pi-chevron-right' ) : 'pi pi-chevron-right'"></i>
                                    </a>
                                </td>
                                <td style="width: 3em;">
                                    <button type="button" class="btn btn-icon btn-primary m-1 btn-sm"
                                        (click)="editParentSourceModal($event,sources.sourceId)" ngbTooltip="Edit"
                                        [placement]="'bottom'"><i class="feather icon-edit"></i>
                                    </button>
                                </td>
                                <td style="width: 7em;">{{sources.stateAbbreviation}}</td>
                                <td style="width: 10em;padding-left: 10px !important;text-align: left;">
                                    {{sources.sourceName}}</td>
                                <td style="width: 10em;">{{sources.owner}}</td>
                                <td style="width: 11em;">{{sources.updateFrequency}}</td>
                                <td style="width: 9em;">{{sources.fileType}}</td>
                                <td style="width: 10em;">{{sources.sourcetype}}</td>
                                <td style="width: 11em;" *ngIf="sources.lastRecivedDate === null"></td>
                                <td style="width: 11em;" *ngIf="sources.lastRecivedDate !== null">
                                    <button class="btn btn-link"
                                        (click)="editChildSourceModal($event,sources.sourceUpdateId,sources.lastRecivedDate)"
                                        type="button" style="text-decoration: none !important;">
                                        {{sources.lastRecivedDate}}
                                    </button>
                                </td>
                                <td style="width: 10em;">
                                    {{sources.hasPhoto}}
                                </td>
                                <td style="width: 9em;">
                                    <span [class]="'datatable-badge status-' + sources.status">
                                        {{sources.status}}
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                        <!-- start expanded row -->
                        <ng-template pTemplate="rowexpansion" let-sources let-rowIndex="rowIndex" let-columns="columns">
                            <tr>
                                <td [attr.colspan]="columns.length + 1">
                                    <div *ngIf="checkIndex === rowIndex" class="p-grid -fluid" style="padding:12px;">
                                        <p-table #sourcesPageSubTable [value]="rowGroupMetadata"
                                            styleClass="ui-table-primedatatable" sortField="receivedDate"
                                            [sortOrder]="-1" (sortFunction)="customSortForChildTable($event)"
                                            [customSort]="true">
                                            <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 6em;"></th>
                                <th pSortableColumn="receivedDate" style="width: 12em;">Date received
                                    <p-sortIcon field="receivedDate"></p-sortIcon>
                                </th>
                                <th pSortableColumn="status" style="width: 12em;">Status
                                    <p-sortIcon field="status"></p-sortIcon>
                                </th>
                                <th pSortableColumn="note">Note
                                    <p-sortIcon field="note"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-chidSourceData let-index="index">
                            <tr>
                                <td style="width: 6em;">
                                    <button type="button" class="btn btn-icon btn-primary m-1 btn-sm"
                                        (click)="editChildSourceModal($event,chidSourceData.sourceUpdateId,chidSourceData.receivedDate)"
                                        ngbTooltip="Edit" [placement]="'bottom'"><i class="feather icon-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-danger m-1 btn-sm"
                                        (click)="deleteChildSourceModal($event,chidSourceData.sourceUpdateId,chidSourceData.receivedDate)"
                                        ngbTooltip="Delete" [placement]="'bottom'"><i class="feather icon-trash"></i>
                                    </button>
                                </td>
                                <td style="width: 12em;">{{chidSourceData.receivedDate}}</td>
                                <td style="width: 12em;">
                                    <span [class]="'datatable-badge status-' + chidSourceData.statusId">
                                        {{chidSourceData.status}}
                                    </span>
                                </td>
                                <td style="padding-left: 10px !important;text-align: left;">{{chidSourceData.note}}</td>
                            </tr>
                        </ng-template>
                        <!-- No records found -->
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="4" style="text-align:center">No records found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
            </div>
            </td>
            </tr>
            </ng-template>
            <!-- No records found -->
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="11" style="text-align:center">No records found.</td>
                </tr>
            </ng-template>
            </p-table>
            </form>
    </div>
    </app-card>
</div>
</div>

<p-toast position="center" key="deleteChildSourceKey" (onClose)="onReject()" [modal]="true" [autoZIndex]="false"
    [style]="{'z-index': 10001}">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="deleteChildSource(message.data)" label="Yes"
                    class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>