.addSourceUpdateFilesSubmitBtn {
    margin: 15px 0px 15px 4px;
}

table th,
.table td {
    padding       : 4px;
    vertical-align: top;
    border-top    : 0px;
}

.warningMessage {
    position   : relative !important;
    font-weight: 800 !important;
    color      : #e58700 !important;
}