<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin" [fullScreen]="true">
    <p style="color: white; font-size: 20px;"> Loading... </p>
</ngx-spinner>


<div class="card-padding">
    <app-card [hidHeader]="true" [options]="false">
        <div class="row">
            <div class="col-md-3">
                <h5 class="mt-2">Add More Rows</h5>
                <hr>
                <form class="form-row" [formGroup]="addRowsForm">
                    <div class="form-group col-md-12">
                        <input type="number" formControlName="rowNumber" class="form-control" #addrow id="addrow"
                            (keydown.enter)="addNewRows(addrow.value,$event)" placeholder="Number only"
                            style="width: 100%;min-width: 100%;" pattern="/^-?\d+\.?\d*$/"
                            onKeyPress="if(this.value.length==2) return false;" min="0" max="99" />
                    </div>
                </form>
            </div>
            <div class="col-md-9">
                <h5 class="mt-2">Drag & Drop Files Here</h5>
                <hr>
                <div class="col-sm-12">
                    <ngx-file-drop dropZoneClassName="dropZone-style" contentClassName="content-style"
                        dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
                        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                            <button type="button" class="btn btn-primary btn-sm">
                                <i class="feather icon-upload"></i>&nbsp;Drag & Drop Files
                            </button>
                        </ng-template>
                    </ngx-file-drop>
                </div>
            </div>
        </div>
    </app-card>
</div>

<div class="row">
    <div class="col-md-12 card-padding">
        <app-card [hidHeader]="true" [options]="false">
            <h5 class="mt-2">Add Source Update Files <span *ngIf="countOfSourceName > 0">- {{countOfSourceName}}</span></h5>
            <form novalidate role="form" [formGroup]="newSourceFilesForm">
                <div formArrayName="newSourceFilesArr">
                    <table class="table m-b-0">
                        <thead>
                            <tr>
                                <th style="width: 1em;">#</th>
                                <th style="width: 3em;"></th>
                                <th style="width: 7em;">State</th>
                                <th style="width: 30em;">Source name</th>
                                <th style="width: 9em;">Date received</th>
                                <th style="width: 9em;">Source provider</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let userData of t.controls; let i=index" [formGroupName]="i">
                                <tr>
                                    <td style="width: 1em;">{{i + 1}}</td>
                                    <td>
                                        <button type="button" class="btn btn-icon btn-danger btn-sm"
                                            (click)="removeSource(i)" *ngIf="i > 0" ngbTooltip="Delete">
                                            <i class="feather icon-trash"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <div class="form-group" style="margin-bottom: 0 !important">
                                            <p-dropdown id="stateId" [options]="stateNames" formControlName="stateId"
                                                placeholder="State" [style]="{'width':'100%','min-width':'100%'}"
                                                (onChange)='changeStateForShowLoader($event.value,i)'
                                                [(ngModel)]="userData['controls'].stateId.value"
                                                [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'">
                                            </p-dropdown>
                                        </div>
                                    </td>
                                    <td>
                                        <p-dropdown id="sourceId" [style]="{'width':'100%','min-width':'100%'}"
                                            [options]="userData['controls'].sourceNameOptions.value"
                                            formControlName="sourceId" placeholder="Source name"
                                            (onChange)='onChangeSourceName($event.value,i)'
                                            [(ngModel)]="userData['controls'].sourceId.value" [filter]="true">
                                        </p-dropdown>
                                        <div class="validationErrorMsg"
                                            *ngIf="submitted && userData['controls'].stateId.value && userData['controls'].sourceId.errors?.required">
                                            <div *ngIf="userData['controls'].sourceId.errors?.required">This field is
                                                required.</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group" style="margin-bottom: 0 !important">
                                            <input type="text" pInputText id="date" placeholder="Date received"
                                                [maxDate]='maxDate' [daysDisabled]="[6,0]" formControlName="date"
                                                [style]="{'width':'100%','min-width':'100%'}"
                                                [ngModel]="userData['controls'].stateId.value ? systemDate : userData['controls'].date.value"
                                                [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY',adaptivePosition: true,isAnimated: true, containerClass:'theme-dark-blue'}"
                                                bsDatepicker onkeydown="return false" onpaste="return">
                                            <div class="validationErrorMsg"
                                                *ngIf="submitted  && userData['controls'].stateId.value && userData['controls'].date.errors?.required">
                                                <div *ngIf="userData['controls'].date.errors?.required">This field is
                                                    required.</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group" style="margin-bottom: 0 !important">
                                            <p-dropdown id="provider" [options]="sourceProvidersDropdown"
                                                formControlName="provider" [style]="{'width':'100%','min-width':'100%'}"
                                                [ngModel]="selectedsourceProvider" placeholder="Source provider"
                                                optionLabel="label">
                                            </p-dropdown>
                                            <div class="validationErrorMsg"
                                                *ngIf="submitted && userData['controls'].stateId.value && userData['controls'].provider.errors?.required">
                                                <div *ngIf="userData['controls'].provider.errors?.required">This field
                                                    is required.</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td rowspan="2">
                                        <div class="form-group" style="margin-bottom: 0 !important">
                                            <textarea id="note" pInputTextarea formControlName="note"
                                                style="width: 100% !important;min-width: 100% !important;"
                                                placeholder="Note" class="note-textarea">
                                            </textarea>
                                            <div class="validationErrorMsg" style="margin-top: -8px !important;"
                                                *ngIf="submitted && userData['controls'].stateId.value && userData['controls'].note.errors?.required">
                                                <div *ngIf="userData['controls'].note.errors?.required">This field is
                                                    required.</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1"></td>
                                    <td colspan="4" class="warningMessage">
                                        <span
                                            *ngIf="userData['controls'].flag.value === true && userData['controls'].message.value !== null">
                                            {{userData['controls'].message.value}}
                                        </span>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </form>
            <div class="row addSourceUpdateFilesSubmitBtn">
                <button type="button" [placement]="'bottom'" ngbTooltip="Add More" (click)="addNewSource()"
                    class="btn btn-icon btn-success mr-2 btn-sm">
                    <i class="feather icon-plus"></i>
                </button>
                <button class="btn btn-primary mr-2 btn-sm" type="button" (click)="onSubmitNewSourceFilesForm()"
                    *ngIf="!this.btnLoader">
                    <i class="feather icon-check-circle"></i> &nbsp;Save
                </button>
                <button class="btn btn-primary mr-2 btn-sm" type="button" *ngIf="this.btnLoader" disabled>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    <span class="load-text"> Loading...</span>
                </button>
                <button type="button" class="btn btn-secondary  btn-sm" (click)="clearAddSourceFiles()">Clear</button>
            </div>
        </app-card>
    </div>
</div>